## Data types

### Numbers

In [ ]:
print(1 + 1)

In [ ]:
print(1 * 3)

In [ ]:
print(1 / 2)

In [ ]:
print(2 ** 4)

In [ ]:
print(4 % 2)

In [ ]:
print(5 % 2)

### Variable Assignment

In [ ]:
# Can not start with number or special characters
name_of_var = 2

In [ ]:
x = 2
y = 3

In [ ]:
z = x + y

In [ ]:
print(z)

### Strings

In [ ]:
print('single quotes')

In [ ]:
print("double quotes")

In [ ]:
print(" wrap lot's of other quotes")

### Printing

In [ ]:
x = 'hello'

In [ ]:
print(x)

In [ ]:
num = 20
name = 'Mubin'

In [ ]:
print(f'My age is: {num}, and my name is: {name}')

### Lists

In [ ]:
[1,2,3]

In [ ]:
['hi',1,[1,2]]

In [ ]:
my_list = ['a','b','c']

In [ ]:
my_list.append('d')

In [ ]:
my_list

In [ ]:
my_list[0]

In [ ]:
my_list[1]

In [ ]:
my_list[0] = 'NEW'

In [ ]:
my_list

### Dictionaries

In [ ]:
d = {'key1':'item1','key2':'item2'}

In [ ]:
d

In [ ]:
d['key1']

### Booleans

In [ ]:
True

In [ ]:
False

### Tuples

In [ ]:
t = (1,2,3)

In [ ]:
t[0]

In [ ]:
t[0] = 'NEW'

### Sets

In [ ]:
{1,2,3}

In [ ]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

## Comparison Operators

In [ ]:
1 > 2

In [ ]:
1 < 2

In [ ]:
1 >= 1

In [ ]:
1 <= 4

In [ ]:
1 == 1

In [ ]:
'hi' == 'bye'

## Logic Operators

In [ ]:
(1 > 2) and (2 < 3)

In [ ]:
(1 > 2) or (2 < 3)

In [ ]:
(1 == 2) or (2 == 3) or (4 == 4)

## if,elif, else Statements

In [ ]:
if 1 < 2:
    print('Yep!')

In [ ]:
if 1 < 2:
    print('first')
else:
    print('last')

In [ ]:
if 1 > 2:
    print('first')
else:
    print('last')

In [ ]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

## for Loops

In [ ]:
seq = [1,2,3,4,5]

In [ ]:
for item in seq:
    print(item)

In [ ]:
for item in seq:
    print('Yep')

In [ ]:
for jelly in seq:
    print(jelly+jelly)

## while Loops

In [ ]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

## functions

In [ ]:
def my_func(param1='default'):
    print(param1)

In [ ]:
my_func

In [ ]:
my_func()

In [ ]:
my_func('new param')

In [ ]:
def square(x):
    return x**2

In [ ]:
out = square(2)

In [ ]:
print(out)